body
{
    background-color:brown
}


header
{
    background-color:blueviolet
}

footer
{
    background-color:crimson;
}

#content
{
    max-width: 1600px;
    margin: 0 auto;
}

nav
{
    text-align: center;
}

a
{
    text-align: center;
}

nav a:hover
{
    background-color:blue;
}

#hero-msg h1
{
    text-align: center;
}

#hero-msg h4
{
    text-align: center;
}

.button-box
{
    text-align: center;
}

main section
{
    text-align: center;
}

#background
{
    height: 725px;
    background-color:bisque;
}

.book
{
    background-color:chocolate;
}

.join
{
    background-color:chartreuse;
}

.msg
{
    background-color:coral;
}