body
{
    background-color: white;
}


header
{
    background-color:#AAC4FF;
}

footer
{
    background-color:#AAC4FF;
    color: white;
}

footer a
{
    text-decoration: none;
    color: white;
}

footer p
{
    font-size: 1.2em;
}

footer a:hover
{
    color: black;
}

footer p a:hover
{
    text-decoration: underline;
}  

#content
{
    max-width: 1600px;
    margin: 0 auto;
}

nav
{
    text-align: center;
}

a
{
    text-align: center;
}

nav a
{
    text-decoration: none;
    color: white;
}

nav a:hover
{
    background-color:white;
    color: #AAC4FF;
}

#hero-msg h1
{
    text-align: center;
}

#hero-msg h4
{
    text-align: center;
}

.button-box
{
    text-align: center;
}

main section
{
    text-align: center;
}

#background
{
    height: 725px;
    background-color:#D2DAFF;
}

.book
{
    background-color:white;
    text-decoration: none;
    color: #AAC4FF;
}

.book:hover
{
    color: black;
}

.join
{
    background-color:white;
    text-decoration: none;
    color: #AAC4FF;
}

.join:hover
{
    color: black;
}

.msg
{
    color: white;
    background-color: #AAC4FF;
}

.msg h2
{
    color: white;
}

.msg p
{
    color: white;
}

.icon
{
    width: 80px;
}

.home-title
{
    color: #AAC4FF;
}

h4
{
    color: #AAC4FF;
}