body
{
    background-color:brown
}


header
{
    background-color:blueviolet
}

footer
{
    background-color:crimson;
}

footer a
{
    text-decoration: none;
}

footer p
{
    font-size: 1.2em;
}

footer p a:hover
{
    text-decoration: underline;
}  

#content
{
    max-width: 1600px;
    margin: 0 auto;
}

nav
{
    text-align: center;
}

a
{
    text-align: center;
}

nav a
{
    text-decoration: none;
}

nav a:hover
{
    background-color:blue;
}

#hero-msg h1
{
    text-align: center;
}

#hero-msg h4
{
    text-align: center;
}

.button-box
{
    text-align: center;
}

main section
{
    text-align: center;
}

#background
{
    height: 725px;
    background-color:bisque;
}

.book
{
    background-color:chocolate;
    text-decoration: none;
}

.join
{
    background-color:chartreuse;
    text-decoration: none;
}

.msg
{
    background-color:coral;
}

.icon
{
    width: 80px;
}